<div *ngFor="let product of products | groupBy: 'id'">
  <div class="row selected-item">
    <app-cart-list-item
      [product]="product.items[0]"
      [quantity]="product.items.length"
      (add)="onAddProduct($event)"
      (delete)="onRemoveProduct($event)"></app-cart-list-item>
  </div>
  <hr />
</div>
<div class="row text-center">
  <div class="col-xs-9">
    <h4 class="text-right total-price">
      {{"cart.totalPrice" | translate}} <strong>${{totalPrice}}</strong>
    </h4>
  </div>
</div>
