<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-9">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-3">
                                <button (click)="showProducts()" type="button" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h3 *ngIf="!selectedProducts.length">No items</h3>
                    <div *ngIf="selectedProducts.length" class="cart-content">
                        <app-user-selection [products]="selectedProducts" (delete)="onDeleteProduct($event)">
                        </app-user-selection>
                        <hr>
                        <app-address-form [address]="shippingInfo" (order)="onOrder($event)"></app-address-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>