<div class="col-sm-3">
    <article class="col-item">
        <div class="photo">
            <a (click)="onShowDetails()">
                <img src="{{product.url}}" class="img-responsive" alt="{{product.title}}" />
            </a>
        </div>
        <div class="info">
            <div class="row">
                <div class="price-details col-md-6">
                    <p class="details">{{product.desc | slice:0:100}}..</p>
                    <h1>{{product.title}}</h1>
                    <span class="price-new">{{product.price | currency:'USD':'symbol'}}</span>
                </div>
            </div>
            <div class="separator clear-left">
                <p class="btn-add">
                    <a href="javascript:void(0)" [class.disabled]="!canBuy" (click)="canBuy && onBuy()" class="hidden-sm">
                        <i class="fa fa-shopping-cart"></i>{{'products.buy' | translate}}
                    </a>
                </p>
                <p class="btn-details">
                    <a href="javascript:void(0)" (click)="onShowDetails()" class="hidden-sm">
                        <i class="fa fa-search"></i>{{'products.details' | translate}}
                    </a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </article>
</div>
